* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffff;
  --title: #ede4ed;
  --text: #ede4d;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background);
  overflow-x: hidden;
}

.all {
  width: 80vw;
  margin: 0 auto;
}

.navbar-nav li {
  padding: 0 16px;
}

.navbar-nav li a {
  color: black;
  margin-right: 10px;
  font-family: 'Poppins';
  font-size: 13px;
}

.navbar-nav li button{
  font-family: 'Ubuntu';
  background: #2020DF;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
}

.navbar-nav li a:hover {
  color: #8f8fff;
}

.options {
  flex-wrap: 1;
}

.container .cl {
  margin-top: 20px;
}

.jumbotron {
  background-color: #fff;
}

.main .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.main .row:first-child {
  font-family: 'Poppins';
  align-items: center;
}

.main .row:first-child h1{
  font-size: 58px;
  font-weight: 600;
}

.main .row:first-child p{
  font-size: 19px;
  font-weight: 300;
}

.main .row:last-child {
  width: 110%;
}
.list-group-item {
  background-color: #8C8C98;
}

.list-group-item:first-child {
    font-weight: bold;
    color: #30323A;
    height: 60px;
}

.list-group-item-borders li {
    border: 0px;
    background-color: #fff0;
    color: #8C8C98;
}

.description-revation {
    margin-top: 80px;
}

.description-revation span {
    font-weight: bold;
}


.working-process {
  margin-top: 600px;
}

.working-process h1 {
  font-family: 'Poppins';
  font-size: 58px;
  font-weight: 600; 
}

.working-process p {
  font-family: 'Poppins';
  font-size: 19px;
  font-weight: 300;
  padding-bottom: 90px;
}

.working-process-options img {
  margin-bottom: 46px;
}

.working-process-options h2 {
  font-family: 'Poppins';
  font-size: 42px;
  font-weight: 500; 
  margin-bottom: 40px;
}

.working-process-options p {
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 400;
  color: #8C8C98;  
}

.integrats-tool {
  margin-top: 100px;
}

.integrats-tool h1 {
  font-family: 'Poppins';
  font-size: 42px;
  font-weight: 600;  
}

.integrats-tool p {
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 400;
  color: #8C8C98;
}

.images-tools {
  padding-left: 150px;
}

.images-tools img {
  margin-right: 10px;
  margin-bottom: 15px;
}

.container-text-amazing-solution {
  margin-left: -100px;
  margin-right: 100px;
}

.background-green {
  margin: 100px 0;
  background-color: #ECF2FF;
  padding-left: 100px;
}

.ts-amazing-solution {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer.container {
  background-color: #ECF2FF;
  min-height: 604px;
  padding: 200px;
  padding-bottom: 10px;
}

.list-footer-primary {
    background-color: red;
}

.banner-ready {
  background-color: #5271FF;
  color: #FFF;
  padding: 60px;
  margin: 90px;
  margin-bottom: -80px;
  position: relative;
}

.btn-get-in {
  height: 50px;
  background-color: #FFF;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-left: 50px;
  width: 50px;
}
.options {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.options .cl-md:last-child {
  padding-left: 30px;
}

.options .cl-md:last-child p {
  color: #8C8C98;
  width: 83%;
}

.main2 .row .col-md .row div h2{
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 500;
}

.main2 .row .col-md .row div p{
  font-family: 'Ubuntu';
  font-size: 17px;
  font-weight: 400;
}

.main2 .img-main2 {
  text-align: right;
}

.main3 .row {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.main3 .row:first-child {
  position: absolute;
  left: 0px;
}

.main3 .row:first-child .cl-md img{
  z-index: 4;
}

.main3 .row:last-child {
  font-family: 'Poppins';    
}

.main3 .row:last-child h2 {
  font-size: 42px;
  font-weight: 600;
}

.main3 .row:last-child p {
  font-size: 14px;
  font-weight: 400;
}

#know-more {
  display: flex;
  align-items: center;
}

#know-more .cl-sm a {
  text-decoration: none;
  color: #000;
  font-family: 'Poppins';
  font-size: 13px;
  font-weight: 600;
}

#know-more .cl-sm  a:hover {
  color: #8f8fff;
}

.ready {
  margin-top: 100px;
}
