* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffff;
  --title: #ede4ed;
  --text: #ede4d;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background);
}

.all {
  width: 68vw;
  margin: 0 auto;
}

.navbar-nav li {
  padding: 0 16px;
}

.navbar-nav li a {
  color: black;
  margin-right: 10px;
  font-family: 'Poppins';
  font-size: 13px;
}

.navbar-nav li button{
  font-family: 'Ubuntu';
  background: #2020DF;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
}

.navbar-nav li a:hover {
  color: #8f8fff;
}

.options {
  flex-wrap: 1;
}

.container .cl {
  margin-top: 20px;
}

.jumbotron {
  background-color: #fff;
}
.main {
  /* background: tomato; */
}
.main .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.main .row:first-child {
  /* background: black; */
  font-family: 'Poppins';
  align-items: center;
}

.main .row:first-child h1{
  font-size: 58px;
  font-weight: 600;
}

.main .row:first-child p{
  font-size: 19px;
  font-weight: 300;
}

.main .row:last-child {
  width: 110%;
}
.list-group-item {
    background-color: #8C8C98;
}

.list-group-item:first-child {
    font-weight: bold;
    color: #30323A;
    height: 60px;
}

.list-group-item-borders li {
    border: 0px;
    background-color: #fff0;
    color: #8C8C98;
}

.description-revation {
    margin-top: 80px;
}

.description-revation span {
    font-weight: bold;
}

.integrats-tool h1 {
  font-family: 'Poppins';
  font-size: 42px;
  font-weight: 600;  
}

.integrats-tool p {
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 400;
  color: #8C8C98;
}

.images-tools {
  padding-left: 150px;
}

.images-tools img {
  margin-right: 10px;
  margin-bottom: 15px;
}

.container-text-amazing-solution {
  margin-left: -100px;
  margin-right: 100px;
}

.background-green {
  background-color: #ECF2FF;
  padding-left: 100px;
}

.ts-amazing-solution {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer.container {
    background-color: #ECF2FF;
    min-height: 604px;
    padding: 200px;
    padding-bottom: 10px;
}

.list-footer-primary {
    background-color: red;
}

.banner-ready {
  background-color: #5271FF;
  color: #FFF;
  padding: 60px;
  margin: 90px;
  margin-bottom: -80px;
  position: relative;
}

.btn-get-in {
  height: 50px;
  background-color: #FFF;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-left: 50px;
  width: 50px;
}
.options {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.options .cl-md:last-child {
  padding-left: 30px;
}

.options .cl-md:last-child p {
  color: #8C8C98;
  width: 83%;
}

.main2 .row .col-md .row div h2{
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 500;
}

.main2 .row .col-md .row div p{
  font-family: 'Ubuntu';
  font-size: 17px;
  font-weight: 400;
}
